.menu_cab {
   background-color:white;
}
/*CENTRAR MENU*/
.elementos_menu {
    margin-right:50%;
}

/*SEPARACION*/

.section-header {
        text-align: center;
        background-color: #ffffff;
        padding: 60px 0;
     
    
}